<!DOCTYPE <!DOCTYPE html>
<html>
  <head>
    <title>Book App</title>
    <%- include('../../layout/head') %>
  </head>
  <body>
    <%- include('../../layout/header') %>
    <main>
      <form action="/show" method="post">
        <label>Book Search: <input type="text" name="bookSearch" /> </label>
        <label>
          Search by Author:
          <input type="radio" name="search" value="author" />
        </label>
        <label>
          Search by Title:
          <input type="radio" name="search" value="title" />
        </label>
        <button>Submit</button>
      </form>
    </main>
    <%- include('../../layout/footer') %>
  </body>
</html>