<!DOCTYPE html>
<html>
<head>

  <title>Search</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <header><h2>Search</h2></header>
  
</body>
</html>