.book-item {
  margin: 5%;
  background-color: #555;
  display: flex;
  flex-flow: column;
  justify-content: center;
  padding: 10%;
  height: 100%;
}

.book-item .api-book {
  height: 100%;
}

.book-item img {
  margin-left: auto;
  margin-right: auto;
}

.book-item p {
  text-align: center;
}

.book-item a {
  text-align: center;
}

.book-item button {
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
}
p {
  padding-top: 10px;
  padding-bottom: 10px;
}
.title {
  font-size: 1.5em;
}