nav{
  display: flex;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.479);
  top: 50px;
  width: 440px;
  height: 50px;
  justify-content: center;
  padding: 10px;
  box-sizing: border-box;
}

a{
  font-family: sans-serif;
  color: white;
  text-decoration: none;
}

.nav-hide {
  display: hidden;
}

.hamburger{
  position: absolute;
  right: 5%;
  top: 10px;
}

.bar{
  background-color: white;
  width: 24px;
  height: 4px;
  margin-bottom: 5px;
}