<!DOCTYPE html>
<html>
<head>
  <title>Error</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <head><h1>Book App</h1></head>
  <main>
    <h2>Sorry, something went wrong</h2>
  </main>
</body>
</html>