<!DOCTYPE <!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Book App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="main.css" />
  </head>
  <body>
    <form action="/search" method="post">
      <label>Book Search: <input type="text" name="bookSearch" /> </label>
      <label>
        Search by Author:
        <input type="radio" name="search by" value="bookSearch" />
      </label>
      <label>
        Search by Title:
        <input type="radio" name="search by" value="bookSearch" />
      </label>
    </form>

    <script src="main.js"></script>
  </body>
</html>
