h1 {
    font-size: 2em;
    font-family: sans-serif;
}
body {
}
header {
    background-color: black;
    color: white;
}

main {
    background-color: grey;
}

footer {
    background-color: black;
    color: white;
}