<header>
  <h1>Best Books</h1>
  <button class="hamburger">
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
  </button>
  <section class="nav-hide navi-holder">
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/new">Search</a></li>
      </ul>
    </nav>
  </section>
</header>