<header>
  <h1>Best Books</h1>
  <section class="hamburger">
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
  </section>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/new">Search</a></li>
    </ul>
  </nav>
</header>